@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

:root {
  --bg-color: #1b1b1e;
  --bg-color-2: #373f51;
  --primary: #d8dbe2;
  --secondary: #a9bcd0;
  --tetriaty: #58a4b0;
}

ul {
  list-style: none;
  padding-left: 1em;
}

.project_item_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 2em;
  margin-top: 0.5em;
}
label,
li {
  cursor: pointer;
}

label {
  font-size: 1.2em;
  font-weight: 300;
}
.material-symbols-outlined {
  opacity: 20%;
  font-size: 1.2em;
  padding: 0.2em;
  border-radius: 50px;
}

.material-symbols-outlined:hover {
  opacity: 100%;
  background-color: rgba(255, 0, 0, 0.355);
}
.checked {
  color: rgb(99, 99, 99);
  text-decoration: line-through;
}

input[type="checkbox"] {
  margin-right: 1em;
}

input:focus {
  outline: none;
}

body {
  background-color: var(--bg-color-2);
  color: rgb(242, 242, 242);
  font-family: "Lato", sans-serif;
}

.app {
  display: flex;
  flex-direction: row;
}

aside {
  background-color: var(--bg-color);
  width: 17%;
  height: 100vh;
  position: absolute;
  padding-left: 1em;
  box-shadow: 0 2px 8px 0 rgb(0, 0, 0, 4);
}

section {
  margin-left: 17%;
  padding: 2em;
  width: 80%;
}

form.new_project_input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 2em;
  margin-right: 1em;
}

#new_project_input {
  background-color: transparent;
  border: none;
  color: #d8dbe2;
  font-size: 1.2em;
  padding: 0 0 0 0;
  font-weight: 300;
}
#new_project_input:focus {
  border-bottom: 1px solid var(--tetriaty);
}

.add_project_btn {
  background-color: transparent;
  border: none;
  color: #d8dbe2;
  font-size: 1.5em;
  margin-left: 1em;
  cursor: pointer;
}
.add_project_btn:hover {
  background-color: #373f51;
  color: var(--tetriaty);
}

.cards_container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  max-width: 100%;
  padding-left: 3em;
  padding-right: 3em;
}

.hidden {
  display: none;
}

.card {
  position: relative;
  width: 48%;
  min-height: 90vh;
  border-radius: 20px;
  background-color: var(--bg-color);
  box-shadow: 1px 1px 10px 2px rgb(0, 0, 0, 4);
}
.form_container {
  background-color: #262627;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0 0 20px 20px;
}

.task_list {
  padding-left: 2.5em;
  padding-right: 2.5em;
}
.new_task_input_form {
  height: 3.5em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.new_task_input {
  background-color: #3d3d3e;
  color: rgb(242, 242, 242);
  border: 2px solid #3d3d3e;
  caret-color: var(--tetriaty);
  margin-left: 1em;
  padding-left: 1em;
  height: 2em;
  width: 80%;
  border-radius: 20px;
  transition: 0.5s;
}
.add_task_btn {
  background-color: #3d3d3e;
  color: rgb(242, 242, 242);
  cursor: pointer;
  border: none;
  margin-right: 1em;
  height: 2em;
  width: 2em;
  border-radius: 50px;
  font-size: 19px;
}

.new_task_input:focus {
  border: 2px solid var(--tetriaty);
}

.add_task_btn:hover {
  background-color: var(--tetriaty);
}

.task_li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.3em 1em 0.3em 1em;
}

.task_li:hover {
  background-color: #262627;
  border-radius: 15px;
}
.task_container {
  padding-left: 2em;
  padding-right: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 0.9em;
  color: #7483a3;
  font-weight: 300;
}

.task_notes {
  width: 100%;
  background-color: var(--bg-color);
  border: 1px solid var(--bg-color-2);
  resize: none;
  border-radius: 5px;
  color: #838486;
  padding: 1em;
  margin-left: -1em;
}
textarea {
  height: auto;
}
textarea:hover {
  background-color: rgb(12, 12, 12);
}
textarea:focus {
  outline: 1px solid var(--tetriaty);
  caret-color: var(--tetriaty);
  color: #d8dbe2;
  background-color: rgb(12, 12, 12);
}

.bread_crumb {
  color: #606e8e;
  font-weight: 300;
  font-size: 0.9em;
}

.date-label {
  margin-right: 1em;
  font-size: 1em;
  color: #7483a3;
  font-weight: 300;
}
#dueDate {
  background-color: var(--bg-color-2);
  border: none;
  border-radius: 5px;
  padding: 0.1em;
}

.no_projects_heading {
  font-weight: 200;
  font-size: 2em;
  text-align: center;
  margin-top: 20%;
}
